{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Available Courses</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Exam Name</th>
          <th>Number Of Questions</th>
          <th>Total Marks</th>
          <th>Duration</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for t in courses %}
      <tr>

        <td> {{t.course_name}}</td>
        <td> {{t.questions.count}}</td>
        <td> {{t.total_marks}}</td>
        <td> {{t.timer}} min</td>
        
          
        {% if t.next_attempt %}
        <td><a class="btn btn-success btn-sm confirm-exam start-exam"  onclick="trackOpenWindow();" style="border-radius:0px;" href="javascript:void(0)"><span class="glyphicon glyphicon-check"></span> Attend Exam</a></td>
        {% else %}
        <td><a class="btn btn-success btn-sm confirm-exam start-exam"  disabled="true"  style="border-radius:0px;" href="javascript:void(0)"><span class="glyphicon glyphicon-check"></span> Attend Exam</a></td>
       
        {% endif %}
      </tr>
      <script type="text/javascript">
          $(document).on('click', '.confirm-exam', function(){
          confirm('Are you sure you want to attend this exam?');
          $(this).attr('disabled', true);
          if (!window.memwin || window.memwin.closed) {
            memwin = window.open("/student/take-exam/{{t.id}}", "myWin2", "toolbar=yes, scrollbars=yes, resizable=yes, height=590,width=1200");
          }
          window.memwin.focus()
})
</script>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>

<script>


  $(document).on('click', '.attempt-exam', function(){
    return confirm('You are not allowed to attempt again! Just View Result');
})
</script>

{% endblock content %}